h1 {
  color: red;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  background-color: blue;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: aqua;
  text-align: center;
  background-color: rgb(202, 94, 230, 0.7);
  font-family: "Courier New", Courier, monospace;
}
p {
  color: green;
  opacity: 0.5;
  text-align: center;
  font-size: 12px;
  font-weight: 50;
  background-color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  text-decoration: yellow underline dotted;
  text-align: center;
  background-color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* rgba에서 rgb 숫자를 입력하고 0~1의 숫자를 입력하여 투명도를 조절할 수 있다. */
/* 일반적인 색깔 코드에서는 opacity를 입력하고 0~1까지의 숫자를 입력하여 숫자를 조절할 수 있다. */
/* 16진법에서는 00이 투명 FF가 가장 밝은 상태로 보통은 많이 안 쓰이는 방법이다.(굳이 하고 싶으면 mdn참고) */
